@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url('helveticaneuecyr_black.otf') format('opentype');
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 136.7%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  scroll-behavior:unset;
}
body {
  font-family: HelveticaNeue, sans-serif;
  background-color: #191919;
  color: #a6a6a6;
}

/*TITLE BLOCK*/
.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.2em;
  position: relative;
  text-align: center;
}

section:hover .line {
  width: 150px;
}

.line {
  background: #34c759;
  width: 60px;
  height: 2px;
  transition: 0.5s ease;
}

.title {
  font-weight: 900;
  font-size: 100px;
  line-height: 150px;
  color: #303030;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: #d9d9d9;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
}

/*----------------------------------------------------------*/
.header {
  min-height: 100vh;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__logo {
  position: relative;
  z-index: 1000;
}

.header__underline {
  border-bottom: 2px solid #ffffff13;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__row {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__link {
  display: flex;
  gap: 9px;
  align-items: flex-end;
}

.logo__text {
  color: #33c759;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu__list {
  display: flex;
  gap: 45px;
}

.menu__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 90px;
  color: #fff;
  transition: 0.5s ease;
}

.menu__item:hover {
  color: #34c759;
}

.menu-burger__header {
  display: none;
}

.menu-burger__header span,
.menu-burger__header:after,
.menu-burger__header:before {
  height: 4px;
  border-radius: 2px;
  width: 40px;
  position: absolute;
  background: #34c759;
  margin: 0 auto;
}

.menu-burger__header span {
  top: 16px;
}

.menu-burger__header:after,
.menu-burger__header:before {
  content: "";
}

.menu-burger__header:after {
  bottom: 5px;
}

.menu-burger__header:before {
  top: 5px;
}

.menu-burger__header.open-menu span {
  opacity: 0;
  transition: 0.8s;
}

.menu-burger__header.open-menu:before {
  transform: rotate(38deg);
  top: 16px;
  transition: 0.8s;
}

.menu-burger__header.open-menu:after {
  transform: rotate(-38deg);
  bottom: 16px;
  transition: 0.8s;
}

.menu.open-menu {
  left: 0px;
  overflow-y: hidden;
}

/*header__content STYLES*/

.header__content {
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 80px;
  color: #fff;
  text-align: center;
}

.header__title {
  font-size: 72px;
  line-height: 84.38px;
  letter-spacing: 0.1em;
}

.header__title span {
  font-weight: 900;
}

.header__subtitle {
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  max-width: 594px;
  margin: 16px auto 0px;
}

/* .button {
  padding: 25px 57px;
  background: #34c759;
  border-radius: 43px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #1a1a1a;
  
  transition: 0.5s ease;
} */

/* .button:hover {
  color: #bee4c1;
  background: #17632a;
} */

.button {
  padding: 25px 57px;
 background: none;
 border: 2px solid #fff;
 font-size: 15px;
 color: #131313;
 cursor: pointer;
 position: relative;
 overflow: hidden;
 transition: all 0.3s;
 border-radius: 40px;
 background-color: #34c759;
 font-weight: bolder;
 box-shadow: 0 2px 0 2px #000;
 margin-top: 40px;
}
.button:before {
 content: "";
 position: absolute;
 width: 100px;
 height: 120%;
 background-color: #00ff0054;
 top: 50%;
 transform: skewX(30deg) translate(-150%, -50%);
 transition: all 0.5s;
}

.button:hover {
 background-color: #02502c;
 color: #fff;
 box-shadow: 0 2px 0 2px #0d3b66;
}

.button:hover::before {
 transform: skewX(30deg) translate(150%, -50%);
 transition-delay: 0.1s;
}

.button:active {
 transform: scale(0.9);
}
.header__contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.header__contacts-item {
  font-weight: 400;
  flex: 0 1 245px;
}

.header__contacts-img {
  margin-bottom: 16px;
}

.header__contacts-title {
  font-size: 16px;
  line-height: 30px;
}

.header__contacts-subtitle {
  font-size: 14px;
  line-height: 30px;
  opacity: 0.7;
}

/*main block*/
section {
  margin-top: 90px;
}

.main {
  margin-top: -200px;
}

.about__description {
  padding: 80px 0;
  background: #262626;
  text-align: center;
  margin-top: 160px;
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #a6a6a6;
}

/*SLIDER STYLES*/

/* Слайдер */
.about__slider {
  position: relative;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.slider__item img {
  height: 270px;
  width: 350px;
}

.slider {
  overflow: hidden;
  width: 735px;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: center;
}

/* Слайд */
.slick-slide img {
  border-radius: 10px;
}

/* Стрелка */
.slick-arrow {
  position: absolute;
  z-index: 1;
  bottom: 50%;
  transform: translate(0%, 50%);
  font-size: 0;
  width: 60px;
  height: 60px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  background: url(./../img/slider/prev.svg) no-repeat;
  left: 40px;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  background: url(./../img/slider/next.svg) no-repeat;
  background-size: 100%;
  font-size: 0;
  right: 40px;
}

/*WORK*/

.work__items {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
  gap: 30px;
}

.work__item {
  padding: 24px;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: 0.5s ease;
}

.work__item:hover .work__item-inderline {
  background: #000;
  width: 100%;
}

.work__item:hover {
  color: #000;
  background: #34c759;
}

.work__item-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.275px;
  text-transform: capitalize;
}

.work__item-inderline {
  background: #34c759;
  width: 56px;
  height: 2px;
  transition: 0.5s ease;
}

.work__item-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
}

/*DISHES*/

.dishes__cards {
  color: #a4a8b2;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
  gap: 30px;
}

.dishes__card {
  position: relative;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.dishes__card::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  background: url(../img/cards/arrowbtn.svg) no-repeat center center #000000bd;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 0.5s ease;
}

.dishes__card:hover::after {
  background: url(../img/cards/arrowbtn.svg) no-repeat center center #17632acb;
}

.dishes__card-img {
  overflow: hidden;
}

.dishes__card-img img {
  border-radius: 7px 7px 0px 0px;
}

.dishes__card-descr {
  padding: 30px;
}

.dishes__card-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
  color: #d9d9d9;
}

.dishes__card-text {
  margin-top: 20px;
}

.dishes__card-raiting {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dishes__card-stars {
  display: flex;
}

.card__btn {
  cursor: pointer;
  padding: 5px 32px;
  font-weight: 900;
  font-size: 10px;
  line-height: 40px;
  margin: 0;
}

.rating {
  display: inline-block;
  font-size: 15px;
  color: #ccc;
}

.star {
  transition: color 0.2s;
  cursor: pointer;
}

.star:hover,
.star.selected {
  color: gold;
}

/*RECIPES*/
.recipes__container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 2fr));
  gap: 20px;
}

.recipes__left-card {
  background: linear-gradient(180deg,
      rgba(38, 38, 38, 0.0001) 0%,
      rgba(38, 38, 38, 0.5) 100%),
    url(./../img/recipes/card-bg.jpg) no-repeat;
  background-size: cover;
  border-radius: 6px;
  padding: 60px 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

.recipes__left-card-title {
  font-weight: 900;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding: 5px 15px;
  background: #00000093;
  margin: 0 auto;
  mix-blend-mode: normal;
  width: 120px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s ease;
}

.recipes__left-card:hover .recipes__left-card-title {
  background: #17632acb;
}

.recipes__left-card-date {
  margin-top: 65px;
}

.recipes__left-card-subtitle {
  margin-top: 25px;
  font-size: 24px;
  line-height: 40px;
}

.recipes__left-card-name {
  margin-top: 45px;
}

.recipes__left-card-icons {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
}

.watches {
  display: flex;
  gap: 12px;
}

.comments {
  display: flex;
  gap: 12px;
}

.recipes__right-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.recipes__right-card {
  color: #fff;
  padding: 30px;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}


.recipes__right-card-text {
  font-size: 16px;
  line-height: 30px;
}

.recipes__right-card-functional {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipes__right-name {
  display: flex;
  align-items: center;
  gap: 15px;
}

.recipes__right-title {
  font-weight: 900;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding: 5px 15px;
  background: #00000093;
  width: 120px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s ease;
}
.recipes__right-title:hover {
  background: #17632aa2;
}
.recipes__right-icons {
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
}

/*SOCIAL*/

.social__contacts {
  margin-top: 60px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.social__contact-follow {
  display: flex;
  align-items: center;
  
}
.social__contact-icon {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.social__contact {
  position: relative;
  flex: 1 1 350px;
  padding: 20px;
  background: #252525;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
border-radius: 6px;
}

.social__contact-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-left: 20px;
}

.social__contact-btn {
  padding: 0 20px;
  background: #262626;
  border: 2px solid #303030;
  border-radius: 30px;
  font-weight: 900;
  font-size: 10px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #737373;
  margin-left: auto;
  transition: 0.5s ease;
}
.social__contact-btn:hover {
  color: #fff;
  background: #17632a;
}
.social__contact-descr {
  margin-top: 40px;
  height: 140px;
  overflow: auto;
}

.social__contact-descr::-webkit-scrollbar {
  width: 4px;
}

.social__contact-descr::-webkit-scrollbar-track {
  background-color: #f1f1f100;
}

.social__contact-descr::-webkit-scrollbar-thumb {
  background: #303030;
border-radius: 100px;
}

.social__contact-descr::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.social__contact-date {
  color: #737373
}

.social__contact-text {
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 400;
font-size: 14px;
line-height: 30px;
color: rgba(255, 255, 255, 0.7);
}

.social__contact-link {
  margin-top: 10px;
line-height: 30px;
color: #34C759;
}
.social__contact-line {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px 0;
  height: 2px;
  width: 100%;
  background: #303030;
}
.footer {
  margin-top: 120px;
  background: #252525;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
padding: 30px 0;
}
.footer__contacts {
  text-align: center;
}
.footer__logo {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo-img {
}
.footer__logo-text {
  margin-top: 10px;
}
.footer__form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.footer__form form {
  width: 100%;

}
/*MEDIA QUERIES*/
@media (max-width: 930px) {
  .header__title {
    font-size: 55px;
  }

  .title {
    font-weight: 900;
    font-size: 60px;
    line-height: 150px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
  }
}

@media(max-width: 882px) {
  .recipes__right-icons {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .header__title {
    font-size: 35px;
  }

  .subtitle {
    font-size: 14px;
  }

  .header__contacts {
    flex-direction: column;
  }

  .header__contacts-item {
    flex: 0 1 200px;
  }

  .menu-burger__header {
    position: fixed;
    right: 10px;
    z-index: 101;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
  }

  .menu {
    z-index: 100;
    display: block;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    /* background: rgba(29, 31, 31, 0.945); */
    background: #0e441cd2;
    width: 100%;
    height: 100vh;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    transition: all 1s ease;
  }

  .menu__list {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
    backdrop-filter: blur(10px);
  }

  .menu__item {
    padding: 20px 0px 20px 0px;
    font-size: 14px;
    line-height: 40px;
    /* border-bottom: 2px solid #000; */
    box-shadow: 0 4px 2px -2px rgb(51, 51, 51);
  }

  .dishes__card {
    flex: 0 1 100%;
  }

  .dishes__card img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 520px) {
  .work__list-item {
    flex: 0 1 100%;
  }

  .about__subtitle {
    line-height: 30px;
  }

  .slider__item img {
    height: 170px;
    width: 250px;
  }

  .slick-arrow {
    bottom: 0;
  }
}

@media (max-width: 327px) {
  .title {
    font-size: 55px;
  }
}

/*POPUP FORM*/
.modal__form-shadow {
  background: #0000008c;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}

.open__popup {
  opacity: 1;
  visibility: visible;
}

.modal__form {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0%, -50%);
  color: #fff;
  background: #074d198e;
  backdrop-filter: blur(10px);
  max-width: 600px;
  margin: 0 auto;
  border: 2px black solid;
  border-radius: 15px;
  padding: 15px;
}

.modal__form-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  font-size: 30px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.feedback-form__group {
  margin-bottom: 20px;
}

.feedback-form__label {
  display: block;
  margin-bottom: 5px;
}

.feedback-form__input,
.feedback-form__textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedback-form__textarea {
  resize: vertical;
}

.feedback-form__button {
  padding: 10px;
}

@media (max-width: 768px) {
  .feedback-form {
    max-width: 400px;
  }
}



.scroll__to-top {
  position: fixed;
  color: #12a036;
  top: 90%;
  right: 20px;
  font-size: 40px;
}


/*SVF*/

path{ 
  transition: 0.5s ease;
}
rect {
  transition: 0.5s ease;
}

.twitter:hover .twitter__bg-color {
  fill: rgb(29, 155, 240)
}
.twitter:hover .twiter__icon-color {
  fill: white;
}

.instagram:hover .inst__bg-color {
  fill: rgb(228, 64, 95);
}
.instagram:hover .inst__icon-color {
  fill: white;
}

.facebook:hover .facebook__bg-color {
  fill: #3b5998;
}

.facebook:hover .facebook__icon-color {
  fill: white;
}